@import "https://fonts.googleapis.com/css?family=Lato:400,700";

* {
    padding: 0;
    margin: 0;
    font-family: 'Lato', sans-serif;
    scroll-behavior: smooth;
}

#navbar{
    width: 100%;
    height: 80px;
    position: fixed;
    background: linear-gradient(90deg,#D98324,#A40606);
    opacity: 0.95;
    border-bottom: 2px solid white;
    z-index: 1;
}

.navli{
    float: right;
    padding-top: 23px;
    list-style-type: none;
}

.nava{
    text-decoration: none;
    padding-right: 50px;
    font-size: 25px;
    color: white;
    text-shadow: 1.5px 1.5px 1px #1f1f1f;
}

.nava:hover{
    color: rgb(232, 247, 16);
    border-radius: 5px;
}

@media all and (max-width: 600px){
    #navbar{
        height: 75px;
    }

    .navli{
        font-size: 22px;
        padding-top: 22px;
    }

    .nava{
        font-size: 22px;
        padding: 0 20px 0 20px;
    }
}

#welcome-section{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background: radial-gradient(circle,#000000,#2D3436);
}

.name{
    font-size: 65px;
    text-align:center;
    color: white;
}

.work{
    text-align:center;
    font-weight: 100;
    color:orange;
    padding-top:10px;
    font-size: 30px;
    font-style: italic;
}

.work:hover{
    cursor: default;
}

.name:hover{
    cursor: default;
}

@media all and (max-width:500px){
    .name{
        font-size: 35px;
    }

    .work{
        font-size: 25px;
    }
}

#projects{
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: #4F3466FF;
}

.projectheader{
    text-align: center;
    font-size: 45px;
    color:white;
    padding: 100px 0 5px 0;
    margin: auto;
    margin-bottom: 25px;
    border-bottom: 2px solid white;
    text-shadow: 2px 2px 1px #1f1f1f;
}

.project-image{
    width:400px;
    height:300px;
    border: 2px solid white;
    border-radius: 5px;
}

.projectgrid{
    display: block;
    text-align: center;
    width: 100%;
}

.project-tile{
    display: inline-block;
    cursor: pointer;
    height: 300px;
    position: relative;
    overflow: hidden;
    width: 400px;
    text-align: center;
    padding: 20px 20px 20px 20px;
}

.project-tile .project-desc {
    background-color: #6f54af;
    border: 2px solid rgb(73, 49, 95);
    position: absolute;
    top: 0;
    left: 0;
    color: white;
    -webkit-transition: all 300ms ease-out;
    -moz-transition: all 300ms ease-out;
    -o-transition: all 300ms ease-out;
    -ms-transition: all 300ms ease-out;
    transition: all 300ms ease-out;
    opacity: 0;
    padding: 111px 20px;
    border-radius: 5px;
    text-shadow: 1px 1px 1px #1f1f1f;
}

.project-tile:hover .project-desc {
    opacity: 0.9;
}

.project-tile .text {
    -webkit-transition: all 300ms ease-out;
    -moz-transition: all 300ms ease-out;
    -o-transition: all 300ms ease-out;
    -ms-transition: all 300ms ease-out;
    transition: all 300ms ease-out;
    transform: translateY(30px);
    -webkit-transform: translateY(30px);
}

.project-tile:hover .description {
    visibility: visible;
    opacity: 1;
}

.project-tile .project {
    font-size: 20px;
    opacity: 0;
    transition-delay: 0.2s;
    transition-duration: 0.3s;
}

#project-title{
    color: white;
    padding-bottom: 10px;
    border-bottom: 2px solid white;
    font-size: 30px;
}

.project-tile:hover .project,
.project-tile:focus .project {
    opacity: 1;
    transform: translateY(0px);
    -webkit-transform: translateY(0px);
}

#show-all{
    display: block;
    color:white;
    font-size: 20px;
    text-decoration: none;
    padding: 12px;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 40px;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    background-color: #6f54af;
    transition: background 0.3s ease-out;
}

#show-all:hover{
    background-color: orangered;
}

#show-all:hover > i {
    transform: translateX(2px);
}
  
#show-all > i {
    margin-left: 10px;
    transform: translateX(0);
    transition: transform 0.3s ease-out;
}

@media all and (max-width:500px){
    .projectheader{
        font-size: 35px;
    }

    .project-image{
        height:200px;
        width:250px;
    }

    .project-tile{
        height:200px;
        width:250px;
        padding: 15px 15px;
        font-size: 25px;
    }

    .project-tile .project-desc {
        padding: 50px 10px;
    }

    #project-title{
        font-size: 22px;
    }

    .project-tile .project {
        font-size: 18px
    }

    #show-all{
        font-size: 20px;
    }
}

#contacts{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    background-color: slateblue;
    color:white;
}

.contact-section-header{
    padding: 30px;
    text-align: center;
    font-size: 40px;
    text-shadow: 2px 2px 1px #1f1f1f;
}

.paracontact{
    font-size: 20px;
    text-shadow: 1.5px 1.5px 1px #1f1f1f;
}

.contact-section-header:hover{
    cursor: default;
}

.contact-links{
    display:block;
    text-align: center;
}

.contact-details{
    display:inline-block;
    padding: 20px;
    font-size: 30px;
    margin-bottom: 30px;
    text-decoration: none;
    color:white;
    text-shadow: 2px 2px 1px #1f1f1f;
    transition: transform 0.3s ease-out;
}

.contact-details:hover {
    transform: translateY(8px);
}

@media all and (max-width:600px){
    .contact-section-header{
        font-size: 30px;
        padding: 20px;
    }

    .paracontact{
        font-size: 25px;
    }

    .contact-details{
        padding: 10px;
        font-size: 25px
    }
}